
body{

font-family:Arial;

background:#e6e6e6;

text-align:center;

margin:0;

}


/* SCREEN SWITCH */

.screen{

display:none;

padding-top:50px;

}


.screen.active{

display:block;

}


/* SYMBOL BUTTONS */

.symbol-box{

margin:20px;

}


.symbol{

width:80px;

height:80px;

font-size:35px;

margin:10px;

border-radius:15px;

cursor:pointer;

}


.selected{

background:#2c6cb0;

color:white;

}


/* START BUTTON */

.start-btn{

padding:15px 60px;

font-size:20px;

border-radius:12px;

background:#2c6cb0;

color:white;

cursor:pointer;

}


/* STATUS BOX */

#status{

margin:20px auto;

padding:12px 40px;

background:white;

width:250px;

border-radius:12px;

font-size:22px;

}


/* BOARD */

.board{

display:grid;

grid-template-columns:repeat(3,120px);

gap:15px;

justify-content:center;

margin-top:30px;

}


/* CELL */

.cell{

width:120px;

height:120px;

background:white;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

font-size:50px;

cursor:pointer;

}


/* REPLAY BUTTON */

.replay-btn{

margin-top:30px;

padding:12px 40px;

font-size:18px;

border-radius:10px;

cursor:pointer;

}


/* CONFETTI */

.confetti{

position:fixed;

width:10px;

height:10px;

top:-10px;

animation:fall 3s linear forwards;

z-index:999;

}


@keyframes fall{

to{

transform:translateY(100vh) rotate(720deg);

opacity:0;

}

}


